<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.earsensei">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EarSensei">
        <activity
            android:name=".quizActivities.TestQuizActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.EarSensei.NoActionBar"></activity>
        <activity android:name=".IntervalsSettingsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MusicTheoryActivity" />
        <activity android:name=".quizActivities.ChordsQuizActivity" />
        <activity android:name=".quizActivities.ScalesQuizActivity" />
        <activity android:name=".quizActivities.PerfectPitchQuizActivity" />
        <activity android:name=".quizActivities.IntervalsQuizActivity" />
        <activity android:name=".MainActivity" android:exported = "true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>